.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-btn {
  --tw-bg-opacity: 1;
  background-color: hsl(223 84% 37% / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: hsl(223 91% 32% / var(--tw-bg-opacity));
}

.bg-text {
  --tw-bg-opacity: 1;
  background-color: hsl(0 0% 16% / var(--tw-bg-opacity));
}

.bg-card {
  --tw-bg-opacity: 1;
  background-color: hsl(232 100% 98% / var(--tw-bg-opacity));
}

.bg-footer {
  --tw-bg-opacity: 1;
  background-color: hsl(228 35% 11% / var(--tw-bg-opacity));
}

.bg-faq {
  --tw-bg-opacity: 1;
  background-color: hsl(224 90% 24% / var(--tw-bg-opacity));
}
