.bg-btn {
  --tw-bg-opacity: 1;
  background-color: hsl(223 84% 37% / var(--tw-bg-opacity));
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: hsl(223 91% 32% / var(--tw-bg-opacity));
}

.bg-text {
  --tw-bg-opacity: 1;
  color: hsl(0 0% 16% / var(--tw-bg-opacity));
}

.bg-card {
  --tw-bg-opacity: 1;
  background-color: hsl(232 100% 98% / var(--tw-bg-opacity));
}

.bg-footer {
  --tw-bg-opacity: 1;
  background-color: hsl(228 35% 11% / var(--tw-bg-opacity));
}

.bg-faq {
  --tw-bg-opacity: 1;
  background-color: hsl(224 90% 24% / var(--tw-bg-opacity));
}

.search input[type="url"] {
  width: 600px;
  max-width: 90vw;
  height: 30px;
  border-radius: 6px;
  border: 1px solid black;
}
